<body style="max-height: 93vh;">
    <div>
        <div style="width:60vw;position: absolute;overflow: hidden;height: 93vh;float:right;right:0;">
        <img src="assets/map.svg" alt="img" />
        </div>
        <div class="row r1" style="padding-top: 10vh;margin-left: 10vw;z-index: 1;">
            <div class="col-md-8">
                <div class="row">
                    <h1 id="head">
                        Railway Security System
                    </h1>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 style="font-family: 'Quicksand';z-index: 1;font-weight: 700;margin-top: 2vh;">
                -Live Railway Tracking
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 style="font-family: 'Quicksand';z-index: 1;font-weight: 700;margin-top: 2vh;">
                        -Real Time updates of all goods
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 style="font-family: 'Quicksand';z-index: 1;font-weight: 700;margin-top: 2vh;">
                        -Access Security for Goods
                    </h1>
                </div>
            </div>
        </div>
        </div>
        <div class="row d-flex justify-content-center" ><h3 style="font-family: 'Quicksand'; z-index: 1;position: absolute;bottom: 0;
  font-weight: 500;">made by ProblemSolvers</h3></div>
    </div>
</body>